<%- include('../header') %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tables</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-0">Exsubcategory</h5>
              <a href="/addexsubcategory" class="btn btn-primary mt-2">Add</a>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Srno</th>
                  <th scope="col">Category</th>
                  <th scope="col">Subcategory</th>
                  <th scope="col">Exsubcategory</th>
                  <th scope="col">Action</th>


                </tr>
              </thead>
              <tbody>
                  <% exsubcategory.map((cat,i)=>{i=i+1 %>
                      <tr>
                        <td><%= i %></td>
                        <td><%= cat.categoryId.category %></td>
                        <td><%= cat.subcategoryId.subcategory %></td>
                        <td><%= cat.exsubcategory %></td>
                        <td>
                          <a href="/deleteexsubCategory?id=<%= cat.id %>" class="btn btn-danger btn-sm">Delete</a>
                            <a href="/editexsubCategory?id=<%= cat.id %>" class="btn btn-primary btn-sm">Edit</a>
                        </td>

                      </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
         
         
          
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      All Rights Reserved by Matrix-admin. Designed and Developed by
      <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>

<%- include('../footer') %>
