<center>
    <h1>View User</h1>
    <table border="1">
        <tr>
            <td>Srno</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Image</td>
            <td>Action</td>
        </tr>

        <% record.map((val,i)=>{i=i+1 %>
            <tr>
                <td><%= i %></td>
                <td><%= val.name %></td>
                <td><%= val.phone %></td>
                <td>
                    <img src="<%= val.image %>" width="100">
                </td>
                <td>
                    <a href="/deleteData?id=<%= val.id %>">Delete</a> || 
                    <a href="/editData?id=<%= val.id %>">Edit</a>
                </td>
            </tr>
        <% }) %>

    </table>
    <a href="/add">Add</a>
</center>